# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
**/.cxx

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
/web/sqflite_sw.js
/web/sqlite3.wasm

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# iOS build cache
/ios/build

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/app/.cxx

# Secret/Private files
/.travis.yml
/secrets.tar.enc

configs.json.enc
config.keys.json
configs.json

GoogleService-Info.plist
GoogleService-Info-Dev.plist
GoogleService-Info-Prod.plist

google-services.json
keys.properties

firebase.json
firebase_options.dart

# App Branding
/app/assets/
/app/images/
/app/media/
