<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>es</string>
		<string>zh</string>
	</array>
	<key>CFBundleName</key>
	<string>Wisconsin</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>edu.illinois.rokwire.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>edu.illinois.rokwire</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>com.touchnet.orderahead</string>
		<string>edu.illinois.covid</string>
		<string>canvas-student</string>
		<string>https</string>
		<string>http</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Allow Wisconsin to access Media Library.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Your bluetooth will be used for the maps to scan for nearby beacons.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Your bluetooth will be used for the maps to scan for nearby beacons.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Save favorite events</string>
	<key>NSCameraUsageDescription</key>
	<string>Your camera will be used for scanning QR codes or taking pictures for profile images, group or event touts and posts.</string>
	<key>NSContactsUsageDescription</key>
	<string>Allow Wisconsin to access Contacts.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Your location will be used to provide nearby services and events, and display it on the map.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Your location will be used to provide nearby services and events, and display it on the map.</string>
	<key>NSLocationUsageDescription</key>
	<string>Your location will be used to provide nearby services and events, and display it on the map.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location will be used to provide nearby services and events, and display it on the map.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow Wisconsin to access Microphone.</string>
	<key>NSMotionUsageDescription</key>
	<string>Allow Wisconsin to access Accelerometer.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Your photo library will be used for storing pictures for profile images, group or event touts and posts.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Your photo library will be used for providing pictures for profile images, group or event touts and posts.</string>
	<key>NSRemindersUsageDescription</key>
	<string>Your calendar will be used to let you set reminders for important events.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Allow Wisconsin to send data to Apple’s speech recognition servers.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Cookies will be used to enhance your experience and improve our marketing efforts.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIRequiresFullScreen~ipad</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<string>YES</string>
</dict>
</plist>
