<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Illinois.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>67667B1E544ECA69C732D5F423095EB93B59F0F4</string>
				<key>dateExpires</key>
				<string>29.06.22</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>67667B1E544ECA69C732D5F423095EB93B59F0F4</string>
						<key>dateExpires</key>
						<string>29.06.22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UPV4CB4H6W</string>
						<key>name</key>
						<string>University of Illinois at Urbana-Champaign</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>67667B1E544ECA69C732D5F423095EB93B59F0F4</string>
						<key>dateExpires</key>
						<string>29.06.22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UPV4CB4H6W</string>
						<key>name</key>
						<string>University of Illinois at Urbana-Champaign</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>67667B1E544ECA69C732D5F423095EB93B59F0F4</string>
						<key>dateExpires</key>
						<string>29.06.22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UPV4CB4H6W</string>
						<key>name</key>
						<string>University of Illinois at Urbana-Champaign</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>67667B1E544ECA69C732D5F423095EB93B59F0F4</string>
						<key>dateExpires</key>
						<string>29.06.22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UPV4CB4H6W</string>
						<key>name</key>
						<string>University of Illinois at Urbana-Champaign</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>67667B1E544ECA69C732D5F423095EB93B59F0F4</string>
						<key>dateExpires</key>
						<string>29.06.22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UPV4CB4H6W</string>
						<key>name</key>
						<string>University of Illinois at Urbana-Champaign</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>67667B1E544ECA69C732D5F423095EB93B59F0F4</string>
						<key>dateExpires</key>
						<string>29.06.22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UPV4CB4H6W</string>
						<key>name</key>
						<string>University of Illinois at Urbana-Champaign</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>67667B1E544ECA69C732D5F423095EB93B59F0F4</string>
						<key>dateExpires</key>
						<string>29.06.22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UPV4CB4H6W</string>
						<key>name</key>
						<string>University of Illinois at Urbana-Champaign</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>67667B1E544ECA69C732D5F423095EB93B59F0F4</string>
						<key>dateExpires</key>
						<string>29.06.22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstanceID.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UPV4CB4H6W</string>
						<key>name</key>
						<string>University of Illinois at Urbana-Champaign</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>67667B1E544ECA69C732D5F423095EB93B59F0F4</string>
						<key>dateExpires</key>
						<string>29.06.22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UPV4CB4H6W</string>
						<key>name</key>
						<string>University of Illinois at Urbana-Champaign</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>67667B1E544ECA69C732D5F423095EB93B59F0F4</string>
						<key>dateExpires</key>
						<string>29.06.22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UPV4CB4H6W</string>
						<key>name</key>
						<string>University of Illinois at Urbana-Champaign</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>67667B1E544ECA69C732D5F423095EB93B59F0F4</string>
						<key>dateExpires</key>
						<string>29.06.22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UPV4CB4H6W</string>
						<key>name</key>
						<string>University of Illinois at Urbana-Champaign</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>67667B1E544ECA69C732D5F423095EB93B59F0F4</string>
						<key>dateExpires</key>
						<string>29.06.22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UPV4CB4H6W</string>
						<key>name</key>
						<string>University of Illinois at Urbana-Champaign</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>67667B1E544ECA69C732D5F423095EB93B59F0F4</string>
						<key>dateExpires</key>
						<string>29.06.22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Meridian.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UPV4CB4H6W</string>
						<key>name</key>
						<string>University of Illinois at Urbana-Champaign</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>67667B1E544ECA69C732D5F423095EB93B59F0F4</string>
						<key>dateExpires</key>
						<string>29.06.22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UPV4CB4H6W</string>
						<key>name</key>
						<string>University of Illinois at Urbana-Champaign</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>67667B1E544ECA69C732D5F423095EB93B59F0F4</string>
						<key>dateExpires</key>
						<string>29.06.22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UPV4CB4H6W</string>
						<key>name</key>
						<string>University of Illinois at Urbana-Champaign</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>67667B1E544ECA69C732D5F423095EB93B59F0F4</string>
						<key>dateExpires</key>
						<string>29.06.22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ZXingObjC.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UPV4CB4H6W</string>
						<key>name</key>
						<string>University of Illinois at Urbana-Champaign</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>67667B1E544ECA69C732D5F423095EB93B59F0F4</string>
						<key>dateExpires</key>
						<string>29.06.22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>app_settings.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UPV4CB4H6W</string>
						<key>name</key>
						<string>University of Illinois at Urbana-Champaign</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>67667B1E544ECA69C732D5F423095EB93B59F0F4</string>
						<key>dateExpires</key>
						<string>29.06.22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>connectivity.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UPV4CB4H6W</string>
						<key>name</key>
						<string>University of Illinois at Urbana-Champaign</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>67667B1E544ECA69C732D5F423095EB93B59F0F4</string>
						<key>dateExpires</key>
						<string>29.06.22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>device_calendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UPV4CB4H6W</string>
						<key>name</key>
						<string>University of Illinois at Urbana-Champaign</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>67667B1E544ECA69C732D5F423095EB93B59F0F4</string>
						<key>dateExpires</key>
						<string>29.06.22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>device_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UPV4CB4H6W</string>
						<key>name</key>
						<string>University of Illinois at Urbana-Champaign</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>67667B1E544ECA69C732D5F423095EB93B59F0F4</string>
						<key>dateExpires</key>
						<string>29.06.22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UPV4CB4H6W</string>
						<key>name</key>
						<string>University of Illinois at Urbana-Champaign</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>67667B1E544ECA69C732D5F423095EB93B59F0F4</string>
						<key>dateExpires</key>
						<string>29.06.22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_native_timezone.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UPV4CB4H6W</string>
						<key>name</key>
						<string>University of Illinois at Urbana-Champaign</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>67667B1E544ECA69C732D5F423095EB93B59F0F4</string>
						<key>dateExpires</key>
						<string>29.06.22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UPV4CB4H6W</string>
						<key>name</key>
						<string>University of Illinois at Urbana-Champaign</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>67667B1E544ECA69C732D5F423095EB93B59F0F4</string>
						<key>dateExpires</key>
						<string>29.06.22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UPV4CB4H6W</string>
						<key>name</key>
						<string>University of Illinois at Urbana-Champaign</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>67667B1E544ECA69C732D5F423095EB93B59F0F4</string>
						<key>dateExpires</key>
						<string>29.06.22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>location.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UPV4CB4H6W</string>
						<key>name</key>
						<string>University of Illinois at Urbana-Champaign</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>67667B1E544ECA69C732D5F423095EB93B59F0F4</string>
						<key>dateExpires</key>
						<string>29.06.22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UPV4CB4H6W</string>
						<key>name</key>
						<string>University of Illinois at Urbana-Champaign</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>67667B1E544ECA69C732D5F423095EB93B59F0F4</string>
						<key>dateExpires</key>
						<string>29.06.22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>notification_permissions.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UPV4CB4H6W</string>
						<key>name</key>
						<string>University of Illinois at Urbana-Champaign</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>67667B1E544ECA69C732D5F423095EB93B59F0F4</string>
						<key>dateExpires</key>
						<string>29.06.22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>package_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UPV4CB4H6W</string>
						<key>name</key>
						<string>University of Illinois at Urbana-Champaign</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>67667B1E544ECA69C732D5F423095EB93B59F0F4</string>
						<key>dateExpires</key>
						<string>29.06.22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UPV4CB4H6W</string>
						<key>name</key>
						<string>University of Illinois at Urbana-Champaign</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>67667B1E544ECA69C732D5F423095EB93B59F0F4</string>
						<key>dateExpires</key>
						<string>29.06.22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>share.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UPV4CB4H6W</string>
						<key>name</key>
						<string>University of Illinois at Urbana-Champaign</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>67667B1E544ECA69C732D5F423095EB93B59F0F4</string>
						<key>dateExpires</key>
						<string>29.06.22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UPV4CB4H6W</string>
						<key>name</key>
						<string>University of Illinois at Urbana-Champaign</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>67667B1E544ECA69C732D5F423095EB93B59F0F4</string>
						<key>dateExpires</key>
						<string>29.06.22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UPV4CB4H6W</string>
						<key>name</key>
						<string>University of Illinois at Urbana-Champaign</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>67667B1E544ECA69C732D5F423095EB93B59F0F4</string>
						<key>dateExpires</key>
						<string>29.06.22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>uni_links.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UPV4CB4H6W</string>
						<key>name</key>
						<string>University of Illinois at Urbana-Champaign</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>67667B1E544ECA69C732D5F423095EB93B59F0F4</string>
						<key>dateExpires</key>
						<string>29.06.22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UPV4CB4H6W</string>
						<key>name</key>
						<string>University of Illinois at Urbana-Champaign</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>67667B1E544ECA69C732D5F423095EB93B59F0F4</string>
						<key>dateExpires</key>
						<string>29.06.22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>video_player.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UPV4CB4H6W</string>
						<key>name</key>
						<string>University of Illinois at Urbana-Champaign</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>67667B1E544ECA69C732D5F423095EB93B59F0F4</string>
						<key>dateExpires</key>
						<string>29.06.22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>wakelock.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UPV4CB4H6W</string>
						<key>name</key>
						<string>University of Illinois at Urbana-Champaign</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>67667B1E544ECA69C732D5F423095EB93B59F0F4</string>
						<key>dateExpires</key>
						<string>29.06.22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>webview_flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UPV4CB4H6W</string>
						<key>name</key>
						<string>University of Illinois at Urbana-Champaign</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>UPV4CB4H6W.edu.illinois.rokwire.ios</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>UPV4CB4H6W</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>56f5bd47-1c1e-49b9-b83a-e9c6c1496505</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: edu.illinois.rokwire.ios</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>UPV4CB4H6W</string>
				<key>name</key>
				<string>University of Illinois at Urbana-Champaign</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
